@font-face {
	font-family: "ZillaSlab-Medium";
	src: url("/static/ZillaSlab-Medium.woff") format("woff");
}

body,
html {
	margin: 0;
	padding: 0;
	font-family: "azo-sans-web", sans-serif;
	color: $main;
	font-weight: 400;
	font-size: 16px;
}

a {
	text-decoration: none !important;
}

*,
*:after,
*:before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
}

*::-webkit-scrollbar-track {
	background-color: transparent;
}

*::-webkit-scrollbar {
	width: 5px;
	background-color: transparent;
}

*::-webkit-scrollbar-thumb {
	background-color: #636e72;
	border-radius: 2px;
}
