.contact {
	display: flex;
	justify-content: space-between;
	width: 1060px;
	padding: 180px 0 160px 0;
	margin: 0 auto;
	position: relative;
	&-item {
		position: relative;
		width: 456px;
		height: 256px;
		padding-top: 70px;
		display: flex;
		flex-direction: column;
		align-items: center;
		-webkit-box-shadow: 2px 20px 20px 8px rgba(0, 0, 0, 0.03);
		-moz-box-shadow: 2px 20px 20px 8px rgba(0, 0, 0, 0.03);
		box-shadow: 2px 20px 20px 8px rgba(0, 0, 0, 0.03);
		&__img {
			position: absolute;
			bottom: calc(100% - 20px);
			left: 50%;
			transform: translateX(-50%);
			width: 127px;
			height: 120px;
			&.scheduler {
				width: 133px;
			}
		}
		&__title {
			@extend %slab;
			font-size: 30px;
			line-height: 36px;
			font-weight: 300;
			margin-bottom: 20px;
		}
		&__text {
			font-size: 20px;
			line-height: 34px;
			text-align: center;
			a {
				color: $main;
			}
		}
	}
	&-decoration1 {
		position: absolute;
		left: 0;
		top: 55px;
		width: 70px;
		height: 70px;
	}
	&-decoration2 {
		position: absolute;
		right: 0;
		top: 55px;
		width: 98px;
		height: 80px;
	}
	&-decoration3 {
		position: absolute;
		left: 470px;
		bottom: 58px;
		width: 117px;
		height: 50px;
	}
}

@media all and (min-width: 1600px) {
	.contact {
		width: 1260px;
		padding: 305px 0 230px 0;
		&-item {
			width: 580px;
			height: 326px;
			padding-top: 85px;
			-webkit-box-shadow: 2px 20px 20px 8px rgba(0, 0, 0, 0.03);
			-moz-box-shadow: 2px 20px 20px 8px rgba(0, 0, 0, 0.03);
			box-shadow: 2px 20px 20px 8px rgba(0, 0, 0, 0.03);
			&__img {
				bottom: calc(100% - 25px);
				width: 159px;
				height: 150px;
				&.scheduler {
					width: 168px;
				}
			}
			&__title {
				font-size: 38px;
				line-height: 46px;
				margin-bottom: 30px;
			}
			&__text {
				font-size: 25px;
				line-height: 43px;
			}
		}
		&-decoration1 {
			left: 20px;
			top: 100px;
			width: 80px;
			height: 80px;
		}
		&-decoration2 {
			right: -42px;
			top: 75px;
			width: 153px;
			height: 125px;
		}
		&-decoration3 {
			left: 560px;
			bottom: 80px;
			width: 140px;
			height: 60px;
		}
	}
}
