.hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 75px 0 0 0;
	position: relative;
	&__title {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		color: #fff;
		user-select: none;
	}
	&-logo {
		width: 142px;
		height: 100px;
	}
	&-title {
		height: 100px;
		&__text {
			@extend %slab;
			font-size: 36px;
			line-height: 42px;
			margin: 30px 0;
			font-weight: 300;
		}
	}
	&-text {
		@extend %slab;
		font-size: 36px;
		line-height: 42px;
		margin: 30px 0;
		font-weight: 300;
	}
	&-bg {
		width: 895px;
		position: relative;
		z-index: -1;
	}
}

@media all and (min-width: 1600px) {
	.hero {
		padding: 80px 0 0 0;
		&-logo {
			width: 172px;
			height: 120px;
		}
		&-title {
			height: 169px;
			&__text {
				font-size: 70px;
				line-height: 84px;
				margin: 65px 0 20px 0;
			}
		}
		&-bg {
			width: 1400px;
		}
	}
}

@media all and (max-width: 1200px) {
	.hero {
		padding: 75px 0 0 0;
		&-logo {
			width: 144px;
			height: 100px;
		}
		&-title {
			height: 93px;
			&__text {
				font-size: 36px;
				line-height: 43px;
				margin: 30px 0 20px 0;
			}
		}
		&-bg {
			width: 900px;
		}
	}
}

@media all and (max-width: 900px) {
	.hero {
		padding: 60px 0 70px 0;
		&-logo {
			width: 115px;
			height: 80px;
		}
		&-title {
			height: 236px;
			&__text {
				max-width: 520px;
				text-align: center;
				font-size: 48px;
				line-height: 58px;
				margin: 60px 0 60px 0;
			}
		}
		&-bg {
			width: 600px;
		}
	}
}

@media all and (max-width: 600px) {
	.hero {
		padding: 40px 0 0 0;
		&-logo {
			width: 86px;
			height: 60px;
		}
		&-title {
			height: 150px;
			&__text {
				max-width: 280px;
				text-align: center;
				font-size: 25px;
				line-height: 30px;
				margin: 50px 0 40px 0;
			}
		}
		&-bg {
			width: 100%;
		}
	}
}
