.container {
	width: 1000px;
	margin: 0 auto;
}

.horizontal-line {
	width: 100%;
	background-color: $lightGreen;
	height: 10px;
}

.underline {
	position: relative;
	z-index: 2;
	&:after {
		z-index: -1;
		content: "";
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 3px;
		background-color: $orange;
	}
	&--big {
		&:after {
			height: 6px;
			bottom: 1px;
		}
	}
}
