.container {
	width: 1000px;
	margin: 0 auto;
}

.horizontal-line {
	width: 100%;
	background-color: $lightGreen;
	height: 10px;
}

.underline {
	position: relative;
	z-index: 2;

	&:after {
		z-index: -1;
		content: "";
		display: block;
		position: absolute;
		bottom: 1px;
		left: 0;
		width: 0;
		height: 3px;
		background-color: $orange;
		transition: 0.5s ease-out;
	}
	&--big {
		&:after {
			height: 6px;
			bottom: 1px;
		}
	}
	&--active {
		&:after {
			width: 100%;
			transition: 0.5s ease-out;
		}
	}
}

@media all and (min-width: 1600px) {
	.container {
		width: 1360px;
	}

	.horizontal-line {
		height: 15px;
	}

	.underline {
		&:after {
			bottom: 2px;
			height: 8px;
		}
		&--big {
			&:after {
				height: 8px;
				bottom: 1px;
			}
		}
	}
}

@media all and (max-width: 1200px) {
	.container {
		width: 800px;
	}

	.underline {
		&:after {
			bottom: 1px;
			height: 3px;
		}
		&--big {
			&:after {
				height: 5px;
				bottom: 1px;
			}
		}
	}
}

@media all and (max-width: 900px) {
	.container {
		width: 520px;
	}

	.underline {
		&:after {
			bottom: 2px;
			height: 5px;
		}
		&--big {
			&:after {
				height: 6px;
				bottom: 2px;
			}
		}
	}
}

@media all and (max-width: 600px) {
	.container {
		width: 100%;
		padding: 0 20px;
	}

	.underline {
		&:after {
			bottom: 1px;
			height: 3px;
		}
		&--big {
			&:after {
				height: 3px;
				bottom: 1px;
			}
		}
	}
}
